.established {
    margin-block: 39px 43px;
    display: flex;
    border: 1px solid #E2E2E2;
    box-shadow: 0px 5px 4px rgba(221, 221, 221, 0.25);
    border-radius: 5px;
    justify-content: space-between;

    @include media(992) {
        display: flex;
        align-items: center;
        margin-block: 0 23px;
    }

    @include media(992) {
        display: flex;
        flex-direction: column-reverse;
    }

    &-texts {
        padding: 41px 0 43px 52px;

        @include media(992) {
            padding: 21px 20px 23px 20px;
        }

        &_title {
            font-weight: 700;
            font-size: 30px;
            line-height: 36px;
            color: $title;

            @include media(450) {
                font-size: 20px;
                line-height: 26px;
                text-align: center;
            }
        }

        &_text {
            margin-block: 27px 30px;
            max-width: 403px;
            width: 100%;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: $text;

            @include media(450) {
                text-align: center;
            }
        }

        &_bottom {
            display: flex;
            justify-content: space-between;
        }

        &_data {
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            color: $text;
        }

        &_link {
            font-weight: 700;
            font-size: 12px;
            line-height: 15px;
            color: $title;
        }
    }

    &-img {
        max-width: 434px;
        width: 100%;
    }
}