@font-face {
    font-family: "Inter-Bold";
    src: url(../../font/Inter-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "Inter-Regular";
    src: url(../../font/Inter-Regular.ttf);
    font-weight: 400;
}